html {
    font-family: helvetica, arial;
}
.container1{
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;

}
.slider ul {
    list-style: none;
    display: flex;
    margin-right: 1.5em;

}

.slider li{
    display: none;
    margin: 0 auto;

}
.slider li img{
    height: 400px;
    width: 600px;

}

.slider .visible{
    display: inline-block;
}
.slider {
    background-color: gray;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.ulControl {
    display: flex;
    justify-content: center;
}
.ulControl button {
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;
    background-color: gray;
    border: none;
    margin: 0 auto;
}
.ulControl button:hover {
    color: white;
}
#pause {
    display: none;
}
button .visible {
    display: block;
}
.container2{
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;

}
.slider1 ul {
    list-style: none;
    display: flex;
    margin-right: 1.5em;

}

.slider1 li{
    display: none;
    margin: 0 auto;

}
.slider1 li img{
    height: 400px;
    width: 600px;

}

.slider1 ul .visible{
    display: inline-block;
}
.slider1 {
    background-color: gray;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.ulControl1 {
    display: flex;
    justify-content: center;
}

.empty{
    display: inline-block;
}

.full {
    display: none;
}
.ulControl1 .visible{
    display: inline-block;
}
#firstSlide, #secSlide {
    color: white;
}
